<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

    <div class="all">
  <div class="Dish">
      <p>Display the details of the Dish here</p>
      <div fxFlex *ngIf="dish">

            <md-card-header>
              <md-card-title>
                <h3>{{dish.name | uppercase}}</h3>
              </md-card-title>
            </md-card-header>
            <img md-card-image src={{dish.image}} alt={{dish.name}}>
            <md-card-content>
              <p>{{dish.description}}
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>SHARE</button>
            </md-card-actions>
        </div>
  </div>

  <div class="Dish">
    <md-list *ngIf="dish">
    <p>Comments</p>


    <md-list fxFlex>
        <md-list-item *ngFor="let com of dish.comments">

          <h1 md-line> {{com.comment}} </h1>
          <h3 md-line> {{com.rating}} Stars</h3>
          <p md-line>
            <span> -- {{com.author}} {{com.date | date }} </span>
          </p>
        </md-list-item>
      </md-list>
    </md-list>
  </div>
</div>



</div>
